* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

/* hero section */

.hero {
  background-image: url("images/hero-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 670px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 900;
}

.hero p {
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  margin: 20px 0 30px 0;
}

.hero a {
  text-decoration: none;
  color: #fff;
  background-color: #0984e3;
  padding: 15px 25px;
  border-radius: 5px;
  font-size: 18px;
}

/* donate section */

.donateSection {
  text-align: center;
  padding: 100px 0;
}

.donateSection h2 {
  font-size: 40px;
}

.donateSection p {
  color: #000;
  font-size: 18px;
  letter-spacing: 1px;
  margin: 20px 0 30px 0;
}

.donateSection a {
  text-decoration: none;
  color: #fff;
  background-color: #0984e3;
  padding: 15px 25px;
  border-radius: 5px;
  font-size: 18px;
}

.donationAmounts {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}

.donationAmount {
  background-color: #fafafa;
  padding: 60px 80px;
  margin: 0 20px;
  border-radius: 10px;
  transition: 0.1s;
}

.donationAmount h3 {
  font-size: 25px;
  font-weight: 800;
}

.donationAmount:hover {
  background-color: #d9efff;
  padding: 60px 80px;
  margin: 0 20px;
  border-radius: 10px;
  border: 4px solid #0984e3;
  cursor: pointer;
}

.donationAmount:hover h3 {
  color: #0984e3;
}

.customAmount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}

.customAmount input {
  border: none;
  border-bottom: 1px solid #ddd;
  margin: 50px 0;
  width: 90%;
  text-align: center;
  padding: 15px 0;
  color: #000;
  font-size: 18px;
  letter-spacing: 1px;
  outline: none;
}

/* plan section */

.planSection {
  text-align: center;
  padding: 0 0 100px 0;
}

.planSection h2 {
  font-size: 40px;
}

.planSection p {
  color: #000;
  font-size: 18px;
  letter-spacing: 1px;
  margin: 20px 0 30px 0;
}

.plans {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: 0 auto;
}

.plan {
  text-align: left;
  margin: 0 20px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 10px;
  width: 33%;
}

.plan:nth-child(1) {
  background-color: #4f9da61a;
}

.plan:nth-child(2) {
  background-color: #ff59591a;
}

.plan:nth-child(3) {
  background-color: #fff4d6;
}

.plan h4 {
  font-size: 25px;
  margin: 20px 0;
}

.plan p {
  margin: 0;
}

/* plan section */

.getUpdate {
  text-align: center;
  padding: 100px 0;
}

.getUpdate h2 {
  font-size: 40px;
}

.getUpdate p {
  color: #000;
  font-size: 18px;
  letter-spacing: 1px;
  margin: 20px 0 30px 0;
}

.subscribeForm {
  background-color: #fff4d6;
  width: 75%;
  margin: 0 auto;
  padding: 100px 0;
  border-radius: 15px;
}

.subscribeForm .email {
  padding: 10px 10px;
  border: none;
  background-color: #d9d9d9;
  width: 25%;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.subscribeForm .submit {
  padding: 10px 25px;
  border: none;
  background-color: #0984e3;
  color: #fff;
  cursor: pointer;
  margin-left: -5px;
  border-radius: 0 5px 5px 0;
}

/* mission section */

.mission {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: 0 auto;
}

.missionDetail {
  padding: 0 50px;
  width: 50%;
  margin: 50px 0;
}

.missionDetail h2 {
  font-size: 40px;
}

.missionDetail p {
  color: #000;
  font-size: 18px;
  letter-spacing: 1px;
  margin: 20px 0 30px 0;
}

/* footer */

footer {
  text-align: center;
  background-color: #000;
  padding: 50px 0;
}

footer h2 {
  color: #0984e3;
  font-family: "Splash", cursive;
  font-size: 45px;
}

footer p {
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  margin: 20px 0 30px 0;
}
